@use './../../utils/style/variables.scss';

.profilUser {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 500px;
}

@media (max-width: 1340px) {
    .content-routes {
        padding: 1vh 1vw 1vh 1vw;
    }

    .contentDatas {
        min-width: 100%;
        // flex-direction: column;
        gap: 15px;
        padding-bottom: 10px;
    }

    .contentStatistics {
        // flex-direction: row;
        min-width: 210px;
        gap: 15px;
        // min-width: 100%;
    }

    .statistic {
        padding: 20px 25px 20px 15px;
    }

    .contentHeader p {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .contentCharts {
        grid-template-rows: 290px 233px;
        grid-column-gap: 15px;
        grid-row-gap: 30px;
    }

}