@use './../../utils/style/variables.scss';

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: variables.$defaultNavBackgroundColor;
    height: 100vh;
    // width: 100%;
    // width: calc(100% - variables.$sideBarWidth);
}

.homeLogo {
    width: 300px;
    height: 137px;
    margin-bottom: 100px;
}

.userLink {
    text-decoration: none;
    color: variables.$navTitleColor;
}