@use './../../utils/style/variables.scss';

.userPerformance {
    grid-area: 2 / 2 / 3 / 3;
    background-color: variables.$secondaryBackgroundColor;
    border-radius: 5px;
    overflow: hidden;
    font-size: 12px;
    font-weight: 500;
    min-width: 200px;
}

@media (max-width: 1100px) {
    .recharts-polar-angle-axis-ticks {
        transform: scale(0.96) translateY(5px);
        transform-origin: center;
    }
}

// recharts-layer recharts-polar-angle-axis angleAxis