@use './../../utils/style/variables.scss';

.dashboard {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 500px;
}

.contentDatas {
    display: flex;
    gap: 30px;
    // height: 100%;
    // justify-content: center;
    padding-bottom: 40px;
    min-width: 1120px;
}

h1 {
    font-size: 48px;
    font-weight: 500;
}

h1 span {
    color: variables.$mainColor;
}

.contentHeader p {
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 77px;
}

.contentCharts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // grid-template-rows: repeat(2, 1fr);
    grid-template-rows: 320px 263px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    width: 100%;
    height: 100%;
}

.contentStatistics {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // gap: 30px;
}

@media (max-width: 1440px) {
    .dashboard {
        // transform: scale(calc(0.7 + (1 - 0.7) * (100vw - 1024px) / (1440 - 1024)));
        // width: 100%;
        transform-origin: top left;
    }
}