@use './../../utils/style/variables.scss';

.main-container {
    display: flex;
    height: calc(100vh - variables.$headerHeight);
    overflow: hidden;
}

.content-routes {
    overflow: auto;
    background-color: aqua;
    display: grid;
    width: 100%;
    // height: 100%;
}