@use './../../utils/style/variables.scss';

.main-container {
    display: flex;
    height: calc(100vh - variables.$headerHeight);
    overflow: hidden;
}

.content-routes {
    overflow: auto;
    // background-color: aqua;
    display: grid;
    width: 100%;
    // height: 100%;
}

/* Personnaliser la largeur de la scrollbar */
.content-routes::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

/* Style au survol de la scrollbar avec javaScript*/
.content-routes.hover-scrollbar::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

/* Personnaliser la couleur de la scrollbar */
.content-routes::-webkit-scrollbar-thumb {
    background: variables.$mainColor;
    border-radius: 10px;
}

/* Couleur de l'arrière-plan de la scrollbar */
.content-routes::-webkit-scrollbar-track {
    background: variables.$secondaryBackgroundColor;
}