@use './../../utils/style/variables.scss';

.sidebar {
    background-color: variables.$defaultNavBackgroundColor;
    color: variables.$navTitleColor;
    min-width: variables.$sideBarWidth;
    // height: calc(100vh - variables.$headerHeight); // $headerHeight correspond à la hauteur de .header
}