@use './../../utils/style/variables.scss';

.error {
    background-color: variables.$defaultNavBackgroundColor;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h4 {
    font-size: 96px;
    font-weight: 700;
    color: variables.$mainColor;
    text-align: center;
    margin: 0px 20px;
}

.message404 {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: variables.$mainColor;
    margin: 0px 20px;
}

.backHome {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin: 110px 20px 0px;
    text-decoration: underline;
    color: variables.$navTitleColor;
}