@use './utils/style/variables.scss';

.app-container {
    // display: flex;
    // grid-template-rows: variables.$headerHeight 1fr;
    // flex-direction: column;
}

.main-container {
    display: flex;
    // grid-template-columns: variables.$sideBarWidth 1fr; // sideBarWidth pour la SideBar, 1fr pour le reste */
    height: calc(100vh - variables.$headerHeight);
    // overflow: hidden;
    // width: calc(100% + variables.$sideBarWidth);
}

.sidebar {}

.content-container {
    height: 100%;
    overflow: auto;
    background-color: aqua;
    display: grid;
}